DATABASE_URL=postgresql://user:password@localhost:5432/dbname
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASSWORD=sua_senha

postgresql+psycopg2://postgres:_!.jdTW/mTT7-cD@db.jrdjwscfnriqboqyvgoq.supabase.co:5432/postgres?sslmode=require
postgresql://postgres.jrdjwscfnriqboqyvgoq:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:6543/postgres

postgresql+psycopg2://postgres.xxxxx:_!.jdTW/mTT7-cD@aws-0-us-east-1.pooler.supabase.com:6543/postgres